<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>掲示板デザイン</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>

<body>


<header class="akitennisclass1741">
  <nav class="akitennisclass1737">
    <div class="container">
      <div class="akitennisclass1926 title">
        AKI REVO | Twitter

        <% if current_user %>
          <ul class="akitennisclass1531 akitennisclass2549 akitennisclass1302 akitennisclass1246 akitennisclass1306">
            <li>
              <%= link_to "/users/sign_out", method: :delete do %>
              <span id="labelValidName">
                 <span class="invalid">
                   <i class="fa fa-user akitennisclass2390"></i>
                   <span class="akitennisclass2101">使用できません</span>
                 </span>
               </span>
                <br>
                ログアウト
              <% end %>
            </li>
          </ul>
        <%  else %>
          <ul class="akitennisclass1531 akitennisclass2549 akitennisclass1302 akitennisclass1246 akitennisclass1306">
            <li>
              <%= link_to new_registration_path(resource_name) do %>
            <span id="labelValidName">
                 <span class="invalid">
                   <i class="fa fa-user akitennisclass2390"></i>
                   <span class="akitennisclass2101">使用できません</span>
                 </span>
               </span>
                <br>
                メンバー登録
              <% end %>
            </li>
            <li>
              <%= link_to new_session_path(resource_name)do %>
                <span id="labelValidName">
                  <span class="invalid">
                    <i class="fa fa-signal akitennisclass2390"></i>
                    <span class="akitennisclass2101">使用できません</span>
                  </span>
                </span>
                <br>
                ログイン
              <% end %>
            </li>
          </ul>
        <% end %>
          </div>
    </div>
  </nav>


  <div class="container">
    <div class="akitennisclass975">
      <div class="akitennisclass1232">
        ユーザー数: <span><%= User.all.count %></span> 人
      </div>
      <div class="akitennisclass810">
        環境構築が要らない新感覚アプリケーション作成講座


      </div>
    </div>
    <!--green-project-->
  </div>


  <!-- / HAPPY METER -->

</header>
<div class="container" id="mainContent">
  <div class="row">

  <%= yield %>
    <% if current_user %>

  <div class="akitennisclass1831">
    <div class="panel akitennisclass982">
      <div class="akitennisclass1502">
        <div class="akitennisclass1291">
          <%= link_to "マイページ", "/user/#{current_user.id}/show", class: "btn akitennisclass1316 akitennisclass1620" %>
        </div>
        <%= link_to "ユーザー一覧", "/user/index", class: "btn akitennisclass1313 akitennisclass1620"%>

        <%= link_to "ログアウトする", "/users/sign_out", class: "btn akitennisclass1313 akitennisclass1620", method: :delete %>
        <hr>
        <p class="akitennisclass1302">
          <b><%= current_user.name %></b>さん
        </p>
        <p>
          <%= link_to "users/#{current_user.id}" do %>
            <span><img alt="くろちゃんｄｓ" class="akitennisclass854 akitennisclass1176 imageSvg" data-image-style="SQ_L" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-07719804a5aff45be3905f19fec5b4a8.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-6fa9aa9ae560b83e57264fcaab133399.svgz" height="220" show_rank="false" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-6fa9aa9ae560b83e57264fcaab133399.svgz" title="くろちゃんｄｓ" width="220"></span>
          <% end %>
          <br>
          <% if @user.present? %>
          <%if !Follow.find_by(follow_user_id:current_user.id,followed_user_id:@user.id) then%>
            <%= link_to "フォローする", "/user/#{@user.id}/do_follow", class: "btn akitennisclass1316 akitennisclass1620" %>
          <%else%>
            <%= link_to "フォローを外す", "/user/#{@user.id}/remove_follow", class: "btn akitennisclass1313 akitennisclass1620"%>
            <%end%>
          <%end%>
        </p>
      </div>
    </div>


    <div class="panel akitennisclass982">
      <div class="akitennisclass987">
        <b>フォロー</b>
        <small class="akitennisclass1539"><b></b></small>
      </div>
      <div class="akitennisclass1502">
        <% @posts.each do |post| %>
          <%= link_to "/post/#{post.id}/show" do %>

            <div class="akitennisclass1292 akitennisclass2594">
              <div class="akitennisclass1766">
                <a href="" title="John Isle"><span><img alt="John Isle" class="imageSvg" data-container="body" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-0b4167a2e7ec2facd7b3f3f6ee99f93f.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" data-placement="bottom" data-toggle="tooltip" height="60" show_rank="true" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" title="John Isle" width="60"></span><span class="label akitennisclass1174 akitennisclass1284"></span></a>
              </div>
              <div class="akitennisclass1764">
                <div class="popover right show">
                  <div class="arrow"></div>
                  <div class="popover-content">
                    <div class="akitennisclass1291 akitennisclass1926">
                      <div class="akitennisclass313 akitennisclass1766 akitennisclass1853">
                        <b class="akitennisclass1539">
                          <a href="" title="John Isle">
                              <span class="label akitennisclass1035" style="margin-right: 5px;">
                                ユーザー名</span><%= User.find_by(id: post.user_id).name %>
                          </a>
                        </b>
                      </div>
                    </div>
                    <!--.clearfix-->
                    <p>
                      <%= post.content %>
                    </p>
                    <div class="akitennisclass1926">
                      <div class="akitennisclass313 akitennisclass1531 akitennisclass1853">
                          <span class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="2019/06/10 09:33">
                            <i class="fa fa-clock"></i> <time datetime="2019-06-10T09:33:05+09:00">約3時間前</time>
                          </span>
                      </div>
                    </div>
                    <div class="akitennisclass1926">
                      <div class="akitennisclass1766">
                        <%if Favorite.find_by(user_id:current_user.id,post_id:post.id) then%>
                          <%= link_to post_remove_favorite_path(post.id,user_id: current_user.id),method: "delete", class: "btn akitennisclass1857 akitennisclass2312" do %>
                            <i class="fa fa-heart"></i>
                            取り消し
                            <span class="badge"><%= Favorite.where(post_id: post.id).count %></span>
                          <% end %>
                        <%else%>

                          <%= link_to post_favorite_path(post.id, user_id: current_user.id), class: "btn akitennisclass1857 akitennisclass2312", method: :put do %>
                            <i class="fa fa-heart"></i>
                            いいね
                            <span class="badge"><%= Favorite.where(post_id: post.id).count %></span>
                          <% end %>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @user.present? %>

    <%= link_to "フォロー一覧", "/user/#{@user.id}/following",class:"btn akitennisclass1316 akitennisclass1620"%>
        <% end %>
    </div>


    <div class="panel akitennisclass982">
      <div class="akitennisclass987">
        <b>フォロワー</b>
        <small class="akitennisclass1539"><b></b></small>
      </div>
      <div class="akitennisclass1502">
        <% @posts.each do |post| %>
          <%= link_to "/post/#{post.id}/show" do %>

            <div class="akitennisclass1292 akitennisclass2594">
              <div class="akitennisclass1766">
                <a href="" title="John Isle"><span><img alt="John Isle" class="imageSvg" data-container="body" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-0b4167a2e7ec2facd7b3f3f6ee99f93f.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" data-placement="bottom" data-toggle="tooltip" height="60" show_rank="true" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" title="John Isle" width="60"></span><span class="label akitennisclass1174 akitennisclass1284"></span></a>
              </div>
              <div class="akitennisclass1764">
                <a href="" title="John Isle">
                              <span class="label akitennisclass1035" style="margin-right: 5px;">
                                ユーザー名</span><%= User.find_by(id: post.user_id).name %>
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @user.present? %>

    <%= link_to "フォロワー一覧", "/user/#{@user.id}/followed", class:"btn akitennisclass1316 akitennisclass1620"%>
      <% end %>

    </div>
  </div>
    <% end %>

  </div>

    </div>
  <footer class="akitennisclass1247 akitennisclass2481" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="akitennisclass1826 text-md-left">

        </div>
        <div class="akitennisclass1677 text-md-left align-self-center">
          <ul class="akitennisclass1306 akitennisclass2520">
            <li class="list-inline-item">
              <a href="https://www.facebook.com" target="_blank"><img alt="Icon footer facebook" height="28" src="/assets/facebook.svg"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://twitter.com" target="_blank"><img alt="Icon footer twitter" height="28" src="/assets/twitter.svg"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://www.youtube.com" target="_blank"><img alt="Icon footer youtube" height="28" src="/assets/youtube.svg"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://line.me" target="_blank"><img alt="Icon footer line" height="20" src="/assets/line.png"></a>
            </li>
            <li class="list-inline-item">
              <a href="53455">
              </a><a href="https://www.instagram.com" target="_blank"><img alt="Icon footer instagram" height="28" src="/assets/instagram.svg"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="akitennisclass1302 akitennisclass2320">© AKI REVO</div>


    </div>

    <!--.container-->

  </footer>
</body>
</html>
