<div class="container" id="mainContent">

  <div class="akitennisclass1305">
    <h2>新規会員登録</h2>
  </div>


  <div class="akitennisclass1526">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="akitennisclass1526">
        <label class="akitennisclass1063" for="user_email"><span class="label akitennisclass1172">必須</span>
          ニックネーム</label>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "akitennisclass1200", id: "user_name" %>
      </div>

      <div class="akitennisclass1526">
        <label class="akitennisclass1063" for="user_email"><span class="label akitennisclass1172">必須</span>
          メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "akitennisclass1200", id: "user_email" %>
      </div>

      <div class="akitennisclass1526">
        <label class="akitennisclass1063" for="user_email"><span class="label akitennisclass1172">必須</span>
          パスワード</label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "akitennisclass1200", id: "user_password" %>
      </div>
      <div class="akitennisclass1526">
        <label class="akitennisclass1063" for="user_email"><span class="label akitennisclass1172">必須</span>
          確認用パスワード</label>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "akitennisclass1200", id: "user_password" %>
      </div>
      <hr>


      <div class="akitennisclass2348">
        <div class="row">
          <div class="akitennisclass1831 col-md-offset-2 akitennisclass1837">
            <%= link_to "既に登録済みの方はこちら", new_session_path(resource_name), class: "btn akitennisclass1313 akitennisclass1620" %>
            <br/>
          </div>
          <div class="akitennisclass1831 akitennisclass1837">
            <%= f.submit "登録!", class: "btn akitennisclass1316 akitennisclass1620" %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>